/* PreMade.css */

.premade-collections {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.premade-collections h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.premade-collections hr {
    width: 50%;
    border: 0.5px solid #333;
    margin-bottom: 20px;
}

.collections {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-items: center;
}

.collections .item img {
    width: 300px;   /* Added specific width */
    height: 300px;  /* Added specific height */
    object-fit: cover;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .collections {
        grid-template-columns: 1fr;
    }
    .collections .item img {
        width: 100%;  /* Adjust width to 100% for smaller screens */
    }
}
