.popular {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.popular h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.popular hr {
    width: 50%;
    border: 0.5px solid #333;
    margin-bottom: 20px;
}

.popular-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.popular-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}